.flat-button {
    background-color: var(--flat-button-background-color);
    color: var(--flat-button-text-color);

    &:hover:not([disabled]):before {
        background-color: var(--flat-button-hover-color);
    }

    &:active:not([disabled]):before {
        background-color: var(--flat-button-active-color);
    }

    &:focus-visible:not([disabled]):not(:active):before {
        background-color: var(--flat-button-focus-color);
    }
}