.form-field {
    .dropdown {
        svg {
            fill: var(--dropdown-arrow-color)
        }
    }

    &:focus {
        .dropdown {
            svg {
                fill: var(--dropdown-selected-arrow-color)
            }
        }
    }
}

.form-field-disabled {
    .icon-button {
        color: var(--icon-button-disabled-color); 
    }

    &~form-field-hint {
        color: var(--form-field-disabled-label-color);
        user-select: none;
    }
}