.stroked-button {
    background-color: transparent;
    border: 1px solid var(--stroked-button-border-color);

    &[disabled] {
        border-color: var(--stroked-button-disabled-border-color);
        background-color: transparent;
    }
}